<html>
<head>
<title>CSS Portal</title>
 <meta name="viewport" content="width=device-width, initial-scale=1">      
	  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>           
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>  
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>	  
<!-- jQuery library -->

<style>
.btn btn-default dropdown-toggle
{
background-color:indigo darken-3;
color:white;
}
</style>
</head>
<body>
  
 <div class="row">

  <div class="container-fluid">
    <div class="col-md-1"> </div>
    <div class="col-md-3"> 
	<div class="btn-group-vertical  role="group" aria-label="...">
 <div class="dropdown">
  <button class="btn btn-blue  btn-block" type="button"  >  All
  <span class="caret"></span></button>
</div>
<div class="dropdown" >
  <button class="btn btn-blue dropdown-toggle btn-block" type="button" id="menu1" data-toggle="dropdown">OMAHA
  <span class="caret"></span></button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
    <li role="presentation"><a role="menuitem" href="#">login problem</a></li>
    <li role="presentation"><a role="menuitem" href="#">omaha problem</a></li>
    <li role="presentation"><a role="menuitem" href="#">results problem</a></li>
    <li role="presentation"><a role="menuitem" href="#">registration problem</a></li>
	<li role="presentation"><a role="menuitem" href="#">student webmail problem</a></li>
  </ul>
</div>
  
  <div class="dropdown">
  <button class="btn btn-blue dropdown-toggle btn-block" type="button" id="menu1" data-toggle="dropdown">Hostel
  <span class="caret"></span></button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
    <li role="presentation"><a role="menuitem" href="#">water problem</a></li>
    <li role="presentation"><a role="menuitem" href="#">LAN problem</a></li>
    <li role="presentation"><a role="menuitem" href="#">electricity problem</a></li>
  </ul>
</div>
  <div class="dropdown">
  <button class="btn btn-blue dropdown-toggle btn-block" type="button" id="menu1 " data-toggle="dropdown">Mess
  <span class="caret"></span></button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
    <li role="presentation"><a role="menuitem" href="#">Menu problem</a></li>
    <li role="presentation"><a role="menuitem" href="#">Hygiene problem</a></li>
  </ul>
</div>
  <div class="dropdown">
  <button class="btn btn-blue dropdown-toggle btn-block" type="button" id="menu1" data-toggle="dropdown">Academics
  <span class="caret"></span></button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
    <li role="presentation"><a role="menuitem" href="#">Makeup exams</a></li>
    <li role="presentation"><a role="menuitem" href="#">Attendence problems</a></li>
    <li role="presentation"><a role="menuitem" href="#">Course registration</a></li>
  </ul>
</div>
</div>

    </div>
    <div class="col-md-7">


    </div>

    <div class="col-md-1"> </div>
  </div>
 </div>
</body>
</html>