<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

</head>

<script>
$(document).ready(function() {
    $('#example').DataTable();
} );
</script>
<script>
  $.post( "user_controller.php", { name: "John", time: "2pm" })
  .done(function( data ) {
    alert( "Data Loaded: " + data );
  });
</script>

<body>
  
<div class="row">

  <div class="container-fluid">
    <div class="col-md-1"> </div>
    <div class="col-md-3"> 
        <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>S.No</th>
            <th>ID</th>
            <th>Assignee</th>
        </tr>
    </thead>
    <tbody> 
        <?php $x=1;?>
        <?php foreach($Assignee as $pro) :?>
         <?php if($pro['hcdid']==2):?>
          <tr>
          <td ><?php echo $x++;?></td>

    <td><a href="/css-nitw/index.php/user_controller/show_ad_c_details?cid=<?php echo $pro['cid'];?>"><?php echo $pro['11111'];?></a></td>
    <td><?php echo "2222222222222222";?> </td>
     <!-- <td><?php //echo $pro['status'];?></td> -->

   </tr>
    <?php endif; ?>
    <?php endforeach; ?>
   </tbody>


    </div>
    <div class="col-md-7">
        <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>S.No</th>
            <th>Complaint id</th>
            <th>Complaint type</th>
            <th>Date of Sub</th>
            <th>Status</th>
            <th>Assignee</th>
        </tr>
    </thead>
    <tbody> 

  <?php $x=1;?>
   <?php foreach($det as $pro) :?>
   <?php if($pro['hcdid']==4):?>
   <tr>
       
   
           <td ><?php echo $x++;?></td>

    <td><a href="/css-nitw/index.php/user_controller/show_ad_c_details?cid=<?php echo $pro['cid'];?>"><?php echo $pro['cid'];?></a></td>
    <td><?php echo "Student Council";?> </td>
    <td><?php echo $pro['date']; ?></td>
    <td><?php echo $pro['status']; ?></td>
     <!-- <td><?php //echo $pro['status'];?></td> -->

   </tr>
    <?php endif; ?>
    <?php endforeach; ?>
   </tbody>


    </div>
    </div>

</body>
</html>